.attribution {
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: center;
  color: var(--cyan-dark);
}

.attribution a:link,
a:visited {
  text-decoration: none;
  color: var(--orange);
}

.attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .attribution {
    font-size: 1.4rem;
  }
}

@media (max-width: 425px) {
  .attribution {
    font-size: 1.2rem;
  }
}
