.multiplayer-stats,
.solo-stats {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.solo-stats {
  max-width: 54rem;
  margin: 0 auto;
}

.multiplayer-stats div,
.solo-stats div {
  max-width: 25rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--gray-lighter);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.player-text,
.solo-text {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: var(--gray);
}

.player-score,
.solo-score,
.solo-time {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  color: var(--gray-dark);
}

.solo-time {
  width: 9rem;
}

.player-stats.active {
  background-color: var(--orange);
  position: relative;
}

.player-stats.active::before {
  content: "";
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid var(--orange);
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

.player-stats.active p {
  color: var(--white);
}

@media (max-width: 768px) {
  .multiplayer-stats {
    gap: 1rem;
  }

  .multiplayer-stats div {
    padding: 1.4rem 1.6rem 0.6rem 1.6rem;
    display: block;
    text-align: center;
  }

  .player-text {
    font-size: 1.6rem;
  }

  .player-score {
    font-size: 2.4rem;
  }
}

@media (max-width: 425px) {
  .multiplayer-stats {
    gap: 2.4rem;
  }

  .player-stats.active::before {
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid var(--orange);
    top: -1rem;
  }

  .solo-stats div {
    max-width: 25rem;
    padding: 1.6rem 2.4rem;
    display: block;
    text-align: center;
    flex-basis: 0;
  }

  .solo-time {
    width: auto;
  }
}
