.multiplayer-stats,
.solo-stats {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.solo-stats {
  max-width: 54rem;
  margin: 0 auto;
}

.multiplayer-stats div,
.solo-stats div {
  max-width: 25rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--gray-lighter);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.player-text,
.button-text {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: var(--gray);
}

.player-score,
.player-time {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  color: var(--gray-dark);
}

.player-time {
  width: 9rem;
}

.player-stats.active {
  background-color: var(--orange);
  position: relative;
}

.player-stats.active::before {
  content: "";
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid var(--orange);
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

.player-stats.active::after {
  content: "Current Turn";
  width: 100%;
  color: var(--navy);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: -2.5rem;
  left: 0;
}

.player-stats.active p {
  color: var(--white);
}
