.game-container {
  height: 100vh;
  background-color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;
}

.game-wrapper {
  width: 100%;
}

.game-board {
  height: 47rem;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: center;
}

.grid-4 {
  grid-template-columns: repeat(4, max-content);
  gap: 2rem;
}

.grid-6 {
  grid-template-columns: repeat(6, max-content);
  gap: 1.6rem;
}

.btn-item {
  font-weight: 700;
  color: var(--white);
  background-color: var(--gray-dark);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-item > * {
  display: none;
  pointer-events: none;
}

.btn-item img {
  filter: invert(1);
}

.grid-4 .btn-item {
  width: 8rem;
  height: 8rem;
  font-size: 4rem;
  line-height: 6.9rem;
}

.grid-4 .btn-item img {
  width: 3.5rem;
}

.grid-6 .btn-item {
  width: 6rem;
  height: 6rem;
  font-size: 3.2rem;
  line-height: 5.5rem;
}

.btn-item.open {
  background-color: var(--gray-light);
}

.btn-item.open.last {
  background-color: var(--orange);
}

.btn-item.open > * {
  display: block;
}

@media (hover: hover) {
  .btn-item:hover {
    background-color: var(--cyan-dark);
  }

  .btn-item.open:hover {
    background-color: var(--gray-light);
  }

  .btn-item.open.last:hover {
    background-color: var(--orange);
  }
}

@media (max-width: 768px) {
  .game-board {
    height: 55rem;
  }
}

@media (max-width: 425px) {
  .game-board {
    height: 40rem;
  }

  .grid-4 {
    gap: 1.2rem;
  }

  .grid-6 {
    gap: 1rem;
  }

  .grid-4 .btn-item {
    width: 7rem;
    height: 7rem;
    font-size: 4rem;
    line-height: 5rem;
  }

  .grid-6 .btn-item {
    width: 4.6rem;
    height: 4.6rem;
    font-size: 2.4rem;
    line-height: 3rem;
  }
}
