header .section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 14rem;
}

.header-buttons {
  display: flex;
  gap: 1.6rem;
}

.btn-menu {
  display: none;
}

@media (max-width: 425px) {
  .logo {
    width: 10rem;
  }

  .header-buttons {
    display: none;
  }

  .btn-menu {
    display: block;
  }
}
